* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
   background-image: url("BG-IMAGE.jpg");
   height: 110vh;
}
#parent {
    width: 100%;
    height: 100px;
}

.header {
    padding: 25px 25px 40px;
}
.header img {
    height: 30px;
    width: 100px; 
}
.login-container {

    background-color: black;
    border-radius: 7px;
    max-width: 400px;
    margin: 0 auto;
    padding: 25px 25px;
    color: white;
}
.login-container h1 {
    font-size: 32px;
    margin-bottom: 25px;
}
.inputField {
    width: 100%;
    padding: 18px;
    background-color: rgba(22, 22, 22, 0.7);
    border-radius: 4px;
    border: 1px solid gray;
    margin-bottom: 16px;
    color: white;
    font-size: 16px;
}
.signin-button input {
    width: 100%;
    background-color:red;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
}
.or-text {
    color: whitesmoke;
    text-align: center;
    margin: 15px 0;
    font-size: 16px;
}

.code-button button {
    width: 100%;
    background-color: gray;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
}
.link {
    text-align: center;
    margin-top: 20px;
}
.link a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.checkbox {
    margin-top: 30px;
    display: flex;
    align-items: center;
}
.checkbox label {
    color: white;
    margin-left: 10px;
    font-size: 16px;
}
.signup {
    margin-top: 25px;
}
.signup span {
    color:wheat;
}

.signup a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}

.captcha {
    color: gray;
    font-size: 13px;
    margin-top: 30px;
    line-height: 1.4;
}
.learnMore a {
    color: skyblue;
    font-size: 13px;
       text-decoration: none;
    }
